.card111{
    background-color: rgb(240, 228, 205);
    border-radius: 10px;
}
.card112{
    background-color: rgb(216, 179, 111);
    border-radius: 7px;
}
.card113{
    color: rgb(206, 178, 126);
}
.card114{
    background-color: rgb(196, 174, 133);
}
.card115{
    background-color: rgb(243, 164, 18);
    border-radius: 10px;
}
.card211{
    background-color: rgb(245, 245, 216);
    border-radius: 10px;
}
.card212{
    background-color: rgb(236, 207, 212);
    border-radius: 7px;
}
.card213{
    color: rgb(233, 161, 173);
}
.card214{
    background-color: rgb(248, 169, 182);
}
.card215{
    background-color:rgb(245, 135, 153);
    border-radius: 10px;
}
